.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
}
.chat__body {
  /* background-image: url("../images/chatbg.jpg"); */
  background-color: #282872;
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

.chat {
  padding: 100px 0px;
}
.chat__body .topbar,
.chat__body .header {
  padding: 10px 10px;
  color: #fbfbfb;
  margin: 5px;
}
.chat__msg-bar {
  position: fixed;
  bottom: 5px;
  left: 0px;
  right: 0px;
  margin: 0px 20px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  background-color: #5c5bf9;
  align-items: center;
  border-radius: 20px;
}
.chat__msg-bar input {
  width: 75%;
  height: 30px;
  border: none;
}
.chat__msg-bar i {
  font-size: 20px;
}
.chat__msg-bar input:focus {
  outline: none;
}

.chat .chat__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat .chat__timestamp {
  justify-content: center;
  padding: 5px 5px;
  margin-bottom: 25px;
  background-color: #5c5bf9;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}
.chat .chat__avatar {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 10px;
}
.massage {
  margin-bottom: 20px;
}
.incoming-msg {
  display: flex;
  align-self: flex-start;
}
.sent-msg {
  align-self: flex-end;
}

.msg-container {
  display: flex;
}
.incoming-msg .msg-bubble {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 2) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.5) 0px -6px 16px -6px;
}
.sent-msg .msg-bubble {
  background-color: #fd89fc;
  padding: 10px;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 2) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.5) 0px -6px 16px -6px;
}
.incoming-msg .msg-username {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fbfbfb;
}
.massage .msg-timestamp {
  margin: 0px 10px;
  font-size: 12px;
  opacity: 0.7;
  align-self: flex-end;
  color: #fbfbfb;
}
.massage__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
