.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: peru;
  color: darkblue;
  font-size: 20px;
  display: flex;
  top: 0px;
  left: 0px;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: none;
}

@media screen and (min-width: 650px) {
  .bigScreen {
    display: flex;
  }
}
